services:
  # https://docs.docker.com/guides/pre-seeding/#pre-seed-the-database-by-bind-mounting-a-sql-script
  db:
    build:
      context: ..
      dockerfile: docker/Database.dockerfile
    container_name: iis_project_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres_iis
      POSTGRES_PASSWORD: password_iis
      POSTGRES_DB: iisdb
    volumes:
      - data_sql:/var/lib/postgresql
    healthcheck:
      # Wait for PostgreSQL init process complete
      # https://www.postgresql.org/docs/current/app-pg-isready.html
      test: ["CMD-SHELL", "pg_isready -U postgres_iis -d iisdb"]

  backend:
    build:
      context: ..
      dockerfile: docker/Backend.dockerfile
    container_name: iis_project_backend
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgresql://postgres_iis:password_iis@db:5432/iisdb
      JWT_SECRET: jwt_secret
      CORS_ORIGIN: http://localhost:5173
      AWS_ACCESS_KEY_ID: ????????????????????
      AWS_SECRET_ACCESS_KEY: ????????????????????
      AWS_REGION: eu-north-1
      AWS_BUCKET_NAME: iis-image-bucket
    depends_on:
      # Wait for the moment, when database system is ready to accept connections
      #https://github.com/compose-spec/compose-spec/blob/main/spec.md#long-syntax-1
      db:
        condition: service_healthy

  frontend:
    build:
      context: ..
      dockerfile: docker/Frontend.dockerfile
    container_name: iis_project_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      VITE_API_URL: http://localhost:8080
      VITE_BASE_URL: "/"

volumes:
  data_sql:
